<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.ad.HomeCategoryDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycandyz.master.entities.ad.HomeCategory">
        <id column="id" property="id" />
        <result column="shop_no" property="shopNo" />
        <result column="category_no" property="categoryNo" />
        <result column="parent_category_no" property="parentCategoryNo" />
        <result column="category_name" property="categoryName" />
        <result column="category_img" property="categoryImg" />
        <result column="layer" property="layer" />
        <result column="sort_value" property="sortValue" />
        <result column="status" property="status" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <resultMap id="HomeCategoryDTOMap" extends="BaseResultMap" type="com.ycandyz.master.dto.ad.HomeCategoryDTO">
        <result column="selected" property="selected" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_no, category_no, parent_category_no, category_name, category_img, layer, sort_value, status, created_time, updated_time
    </sql>

    <select id="selectByParentCategoryNo" resultType="com.ycandyz.master.dto.ad.HomeCategoryDTO">
        SELECT <include refid="Base_Column_List"/> FROM ad_home_category WHERE parent_category_no = #{categoryNo}
    </select>

    <select id="selectByCategoryNo" resultType="com.ycandyz.master.dto.ad.HomeCategoryDTO">
        SELECT <include refid="Base_Column_List"/> FROM ad_home_category WHERE category_no = #{categoryNo}
    </select>

</mapper>
