<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.miniprogram.MpConfigPlanPageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycandyz.master.entities.miniprogram.MpConfigPlanPage">
        <id column="id" property="id" />
        <result column="menu_id" property="menuId" />
        <result column="module_id" property="moduleId" />
        <result column="module_base_id" property="moduleBaseId" />
        <result column="show_layout" property="showLayout" />
        <result column="sort_module" property="sortModule" />
        <result column="sort_base" property="sortBase" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_id, module_id, module_base_id, show_layout, sort_module, sort_base
    </sql>

    <select id="getMenuModule" resultType="com.ycandyz.master.dto.miniprogram.MpConfigPlanPageDTO">
        SELECT p.id,p.menu_id,m.title as menu_name,p.module_id,d.module_name,p.sort_module,d.display_num,group_concat(p.module_base_id separator ',') as module_base_ids
        FROM mp_config_plan_page p
        left join mp_config_plan_menu m on p.menu_id = m.id
        left join mp_config_module d on p.module_id = d.id
        <where>
            p.logic_delete = 0
            <if test="menuId != null">
                and p.menu_id = #{menuId}
            </if>
            <if test="moduleSort != null">
                and p.sort_module = #{moduleSort}
            </if>
            <if test="moduleId != null">
                and p.module_id = #{moduleId}
            </if>
        </where>
        group by p.sort_module
    </select>

    <select id="getMenuModuleElement" resultType="com.ycandyz.master.dto.miniprogram.MpConfigPlanPageBaseDTO">
        SELECT p.id,b.id as module_base_id,b.base_name,b.base_code,p.sort_base,p.show_layout,b.display_num,p.replace_pic_url FROM mp_config_plan_page p
        left join mp_config_module_base b on p.module_base_id = b.id
        <where>
            p.logic_delete = 0
            <if test="menuId != null">
                and p.menu_id = #{menuId}
            </if>
            <if test="moduleSort != null">
                and p.sort_module = #{moduleSort}
            </if>

            <if test="baseIds != null ">
                and b.id in
                <foreach collection="baseIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getMenuModuleList" resultType="com.ycandyz.master.dto.miniprogram.MpConfigPlanPageDTO">
        SELECT p.id,p.menu_id,m.title as menu_name,p.module_id,d.module_name,p.sort_module,d.display_num,group_concat(p.module_base_id separator ',') as module_base_ids
        FROM mp_config_plan_page p
        left join mp_config_plan_menu m on p.menu_id = m.id
        left join mp_config_module d on p.module_id = d.id
        <where>
            p.logic_delete = 0
            <if test="menuId != null">
                and p.menu_id = #{menuId}
            </if>
        </where>
        group by p.sort_module
    </select>

    <select id="getMenuSortModule" resultType="com.ycandyz.master.entities.miniprogram.MpConfigPlanPage">
        SELECT * FROM mp_config_plan_page p
        <where>
            p.logic_delete = 0
            <if test="menuId != null">
                and p.menu_id = #{menuId}
            </if>
            <if test="moduleSort != null">
                and p.sort_module = #{moduleSort}
            </if>
            <if test="moduleId != null">
                and p.module_id = #{moduleId}
            </if>
        </where>
    </select>

    <delete id="deleteByMenuId" parameterType="java.lang.Integer">
       delete from mp_config_plan_page where menu_id = #{menuId}
    </delete>


</mapper>
