<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.miniprogram.OrganizeMpConfigPlanMenuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycandyz.master.entities.miniprogram.OrganizeMpConfigPlanMenu">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="picture_select" property="pictureSelect" />
        <result column="color_select" property="colorSelect" />
        <result column="picture_not_select" property="pictureNotSelect" />
        <result column="color_not_select" property="colorNotSelect" />
        <result column="sort_num" property="sortNum" />
        <result column="can_layout" property="canLayout" />
        <result column="can_delete" property="canDelete" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, picture_select, color_select, picture_not_select, color_not_select, sort_num,can_layout,can_delete
    </sql>
    <insert id="insertSingle">
        insert into organize_mp_config_plan_menu(id, title, picture_select, color_select,
        picture_not_select, color_not_select, sort_num,can_layout,can_delete,create_time,update_time,organize_plan_id,logic_delete)
        values (#{id},#{title},#{pictureSelect},#{colorSelect},#{pictureNotSelect},#{colorNotSelect},
        #{sortNum},#{canLayout},#{canDelete},now(),now(),#{organizePlanId},0)
    </insert>
    <delete id="delById">
        delete from organize_mp_config_plan_menu where id = #{menuId} and logic_delete = 0
    </delete>

    <select id="selByIdAndName" resultType="com.ycandyz.master.dto.miniprogram.OrganizeMpConfigPlanMenuDTO">
        select <include refid="Base_Column_List" />
        from organize_mp_config_plan_menu
        where organize_plan_id = #{organizePlanId}
        and title = #{title}
    </select>
    <select id="selByOrGanizeMoudleId"
            resultType="com.ycandyz.master.dto.miniprogram.OrganizeMpConfigPlanMenuDTO">
        select <include refid="Base_Column_List" />
        from organize_mp_config_plan_menu
        where organize_plan_id = #{organizePlanId}
        and logic_delete = 0;
    </select>
    <select id="selectMenuById" resultType="com.ycandyz.master.dto.miniprogram.OrganizeMpConfigPlanMenuDTO">
        select <include refid="Base_Column_List" />
        from organize_mp_config_plan_menu
        where id = #{menuId}
    </select>
    <select id="selIdByOrGanizeMoudleId" resultType="java.lang.Integer">
        select id
        from organize_mp_config_plan_menu
        where organize_plan_id = #{organizePlanId}
        and logic_delete = 0;
    </select>

</mapper>
