<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.miniprogram.OrganizeMpConfigPlanDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycandyz.master.entities.miniprogram.OrganizeMpConfigPlan">
        <id column="id" property="id" />
        <result column="organize_id" property="organizeId" />
        <result column="plan_name" property="planName" />
        <result column="mp_plan_id" property="mpPlanId" />
        <result column="logic_delete" property="logicDelete" />
        <result column="current_using" property="currentUsing" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, organize_id, plan_name, mp_plan_id, logic_delete, current_using, create_time, update_time,status
    </sql>
    <insert id="insertSingle">
        insert into organize_mp_config_plan(id,organize_id, mp_plan_id,
        logic_delete, current_using, create_time, update_time)
        values (#{id},#{organizeId},#{mpPlanId},0,0,now(),now());
    </insert>
    <update id="setDelete">
        update organize_mp_config_plan set logic_delete = 1 where id = #{id};
    </update>
    <select id="getOrganizePlan" resultMap="BaseResultMap">
        select * from organize_mp_config_plan
        where id = #{id} and organize_id = #{organizeId}
    </select>
    <select id="getOrganizePlanById" resultMap="BaseResultMap">
         select * from organize_mp_config_plan
        where id = #{id} and organize_id = #{organizeId}
    </select>
    <select id="selectByOrganizeId" resultType="com.ycandyz.master.entities.miniprogram.OrganizeMpConfigPlan">
        select * from organize_mp_config_plan where organize_id = #{organizeId};
    </select>
    <select id="getByOrganizeId" resultType="com.ycandyz.master.entities.miniprogram.OrganizeMpConfigPlan">
        select * from organize_mp_config_plan where organize_id = #{organizeId} and logic_delete = 0;
    </select>
    <select id="selectByOrganizeIdStatus"
            resultType="com.ycandyz.master.entities.miniprogram.OrganizeMpConfigPlan">
        select * from organize_mp_config_plan where organize_id = #{organizeId} and logic_delete = 0 and current_using = 0;
    </select>
    <select id="selByOrganizeId" resultType="com.ycandyz.master.entities.miniprogram.OrganizeMpConfigPlan">
        select * from organize_mp_config_plan where organize_id = #{organizeId} and current_using = 1 and logic_delete = 0 and status = 2;
    </select>
    <select id="selectByIdStatus" resultType="com.ycandyz.master.entities.miniprogram.OrganizeMpConfigPlan">
        select * from organize_mp_config_plan where id = #{id} and logic_delete = 0 and current_using = 0;
    </select>
    <select id="selectByIdUsing" resultType="com.ycandyz.master.entities.miniprogram.OrganizeMpConfigPlan">
        select * from organize_mp_config_plan where id = #{id} and status != 0 and logic_delete = 0;
    </select>
    <select id="selectPlanById" resultType="com.ycandyz.master.entities.miniprogram.OrganizeMpConfigPlan">
        select * from organize_mp_config_plan where id = #{id} and status = 0 and logic_delete = 0
    </select>

</mapper>
