<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.organize.OrganizeRelDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycandyz.master.entities.organize.OrganizeRel">
        <id column="id" property="id" />
        <result column="created_at" property="createdAt" />
        <result column="deleted_at" property="deletedAt" />
        <result column="user_id" property="userId" />
        <result column="user_id1" property="userId1" />
        <result column="group_organize_id" property="groupOrganizeId" />
        <result column="organize_id" property="organizeId" />
        <result column="status" property="status" />
        <result column="rel_at" property="relAt" />
        <result column="unrel_at" property="unrelAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="rel_type" property="relType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, created_at, deleted_at, user_id, user_id1, group_organize_id, organize_id, status, rel_at, unrel_at, updated_at, rel_type
    </sql>

</mapper>
