<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycandyz.master.dao.mall.goodsManage.MallSpecDao">
    <resultMap id="BaseResultMap" type="com.ycandyz.master.entities.mall.goodsManage.MallSpec">
        <id column="id" property="id" jdbcType="BIGINT" />
        <id column="shop_no" property="shopNo" jdbcType="VARCHAR"/>
        <id column="spec_no" property="specNo" jdbcType="VARCHAR"/>
        <id column="spec_name" property="specName" jdbcType="VARCHAR"/>
        <id column="sort_value" property="sortValue" jdbcType="INTEGER"/>
        <id column="status" property="status" jdbcType="INTEGER"/>
        <id column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <id column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="addMallSpec" parameterType="com.ycandyz.master.entities.mall.goodsManage.MallSpec">
        insert into mall_spec (shop_no,spec_no,spec_name,sort_value,status,created_time,updated_time)
        values (#{shopNo},#{specNo},#{specName},#{sortValue},#{status},now(),now());
    </insert>
    <delete id="delMallSpecBySpecNo" parameterType="java.lang.String">
        delete t1,t2
        from mall_spec as t1
        left join mall_spec_value as t2 on t1.spec_no = t2.spec_no
        where t1.shop_no = #{shopNo} and t1.spec_no = #{specNo};
    </delete>
    <select id="selMallSpecBySpecNo" resultMap="BaseResultMap" parameterType="java.lang.String">
          select * from mall_spec where shop_no = #{shopNo}  and spec_no=#{specNo};
    </select>
    <select id="selMallSpecByKeyWord" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from mall_spec where shop_no = #{shopNo}  and spec_name like "%"#{keyWord}"%";
    </select>
    <select id="selMallSpecNoByShopNo" parameterType="java.lang.String" resultType="java.lang.String">
        select spec_no from mall_spec where shop_no = #{shopNo};
    </select>

</mapper>