<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ycandyz.master.dao.mall.goodsManage.MallCategoryDao">
    <resultMap id="BaseResultMap" type="com.ycandyz.master.entities.mall.goodsManage.MallCategory">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="shop_no" property="shopNo" jdbcType="VARCHAR"/>
        <result column="category_no" property="categoryNo" jdbcType="VARCHAR"/>
        <result column="parent_category_no" property="parentCategoryNo" jdbcType="VARCHAR"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="category_img" property="categoryImg" jdbcType="VARCHAR"/>
        <result column="layer" property="layer" jdbcType="INTEGER" />
        <result column="sort_value" property="sortValue" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="TINYINT" />
    </resultMap>

    <resultMap id="BaseResultMapParent" type="com.ycandyz.master.entities.mall.goodsManage.MallParentCategory">
        <id column="category_no" property="categoryNo" jdbcType="VARCHAR"/>
        <id column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <id column="category_img" property="categoryImg" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addMallCategory" parameterType="com.ycandyz.master.entities.mall.goodsManage.MallCategory">
        insert into mall_category(id,shop_no,category_no,parent_category_no,
        category_name,category_img,layer,sort_value,status,created_time,
        updated_time)values (#{id,jdbcType=BIGINT},#{shopNo,jdbcType=VARCHAR},#{categoryNo,jdbcType=VARCHAR},#{parentCategoryNo,jdbcType=VARCHAR},#{categoryName,jdbcType=VARCHAR},
        #{categoryImg,jdbcType=VARCHAR},#{layer,jdbcType=INTEGER},#{sortValue,jdbcType=INTEGER},#{status,jdbcType=INTEGER},now(),now());
    </insert>

    <update id="updateMallParentCategory">
        update mall_category set category_name = #{mallCategoryVO.categoryName,jdbcType=VARCHAR},category_img = #{mallCategoryVO.categoryImg,jdbcType=VARCHAR},updated_time = now()
        where category_no = #{mallCategoryVO.categoryNo,jdbcType=VARCHAR} and shop_no = #{shopNo,jdbcType=VARCHAR};
    </update>

    <update id="updateMallCategory">
         update mall_category set category_name = #{mallCategoryVO.categoryName,jdbcType=VARCHAR},category_img = #{mallCategoryVO.categoryImg,jdbcType=VARCHAR},updated_time = now()
         where category_no = #{mallCategoryVO.categoryNo,jdbcType=VARCHAR} and parent_category_no = #{mallCategoryVO.parentCategoryNo,jdbcType=VARCHAR} and shop_no = #{shopNo,jdbcType=VARCHAR};
    </update>
    <update id="updateMallCategoryImg">
        update mall_category set category_img = #{imgUrl} where category_no = #{categoryNo}
    </update>
    <update id="updateParentCategoryImg">
        update mall_category set category_img = #{categoryImg} where category_no = #{categoryNo}
    </update>

    <delete id="delCategoryByCategoryNo" parameterType="java.lang.String">
        delete from mall_category where shop_no = #{shopNo,jdbcType=VARCHAR} and category_no = #{categoryNo,jdbcType=VARCHAR};
    </delete>

    <select id="selCategoryByCategoryNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from mall_category where shop_no = #{shopNo,jdbcType=VARCHAR} and category_no = #{categoryNo,jdbcType=VARCHAR} and layer = 1;
    </select>

    <select id="selParentCategoryByCategoryNo" resultMap="BaseResultMapParent" parameterType="java.lang.String">
         select * from mall_category where shop_no = #{shopNo,jdbcType=VARCHAR} and category_no = #{categoryNo,jdbcType=VARCHAR} and layer = 0;
    </select>

    <select id="selParentCategoryNoByShopNo" resultType="java.lang.String" parameterType="java.lang.String">
          select parent_category_no from mall_category where shop_no = #{shopNo,jdbcType=VARCHAR};
    </select>

    <select id="selCategoryNoByShopNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from mall_category where shop_no = #{shopNo,jdbcType=VARCHAR} and layer = 0;
    </select>

    <select id="selParentCategoryByParentCategoryNo"
            resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from mall_category where shop_no = #{shopNo,jdbcType=VARCHAR} and parent_category_no = #{parentCategoryNo,jdbcType=VARCHAR};
    </select>

    <select id="selCategoryByParentCategoryNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from mall_category where shop_no = #{shopNo,jdbcType=VARCHAR} and parent_category_no = #{parentCategoryNo,jdbcType=VARCHAR} and layer = 1;
    </select>
    <select id="selectByShopNo" resultType="com.ycandyz.master.entities.miniprogram.OrganizeMallCategoryDTO">
        select id,category_no,category_name,category_img from mall_category where shop_no = #{shopNo} and status = 1 and layer = 0;
    </select>

    <select id="selectAllByShopNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from mall_category where shop_no = #{shopNo} and status=1
    </select>
</mapper>


