<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycandyz.master.dao.mall.goodsManage.MallShippingRegionDao">
<resultMap id="BaseResultMap" type="com.ycandyz.master.entities.mall.goodsManage.MallShippingRegion">
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="region_no" property="regionNo" jdbcType="VARCHAR"/>
    <id column="shipping_no" property="shippingNo" jdbcType="VARCHAR"/>
    <id column="first_count" property="firstCount" jdbcType="INTEGER"/>
    <id column="first_price" property="firstPrice" jdbcType="DECIMAL"/>
    <id column="more_count" property="moreCount" jdbcType="INTEGER"/>
    <id column="more_price" property="morePrice" jdbcType="DECIMAL"/>
    <id column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <id column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
</resultMap>
    
    <insert id="addmallShippingRegion" parameterType="com.ycandyz.master.entities.mall.goodsManage.MallShippingRegion">
        insert into mall_shipping_region (region_no,shipping_no,first_count,first_price,more_count,more_price,created_time,updated_time)
        values (#{regionNo},#{shippingNo},#{firstCount},#{firstPrice},#{moreCount},#{morePrice},now(),now());
    </insert>
    <delete id="delMallShippingRegionByshippingNo" parameterType="java.lang.String">
        delete from mall_shipping_region where shipping_no = #{shippingNo};
    </delete>
    <select id="selMallShippingRegionByShippingNo"
            resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from mall_shipping_region where shipping_no = #{shippingNo};
    </select>
</mapper>