<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycandyz.master.dao.mall.goodsManage.MallShippingRegionProvinceDao">
    <resultMap id="BaseResultMap" type="com.ycandyz.master.entities.mall.goodsManage.MallShippingRegionProvince">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="region_no" property="regionNo" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <delete id="delMallShippingRegionProvinceByshippingNo" parameterType="java.lang.String">
        delete from mall_shipping_region_province where region_no = #{regionNo,jdbcType=VARCHAR};
    </delete>

    <select id="selMallShippingRegionProvinceByRegionNo" resultType="java.lang.String" parameterType="java.lang.String">
        select province from mall_shipping_region_province where region_no = #{regionNo,jdbcType=VARCHAR};
    </select>

    <insert id="addMallShippingRegionProvince" parameterType="com.ycandyz.master.entities.mall.goodsManage.MallShippingRegionProvince">
        insert into mall_shipping_region_province (id,region_no,province,created_time,updated_time)
        values (#{id,jdbcType=BIGINT},#{regionNo,jdbcType=VARCHAR},#{province,jdbcType=VARCHAR},now(),now());
    </insert>
</mapper>