<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.sms.SmsSendQueueLogDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycandyz.master.entities.sms.SmsSendQueueLog">
        <id column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="template_code" property="templateCode" />
        <result column="biz_id" property="bizId" />
        <result column="state" property="state" />
        <result column="log" property="log" />
        <result column="created_at" property="createdAt" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, phone, template_code, biz_id, `state`, log, created_at, created_time
    </sql>

</mapper>
