<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.mall.MallShopShippingLogDao">

    <select id="selectListByShopShippingNo" parameterType="java.lang.String" resultType="com.ycandyz.master.dto.mall.MallShopShippingLogDTO">
        select
            log.id as id,
            log.shop_shipping_no as shopShippingNo,
            log.company_code as companyCode,
            log.company as company,
            log.`number` as number,
            log.context as context,
            log.area_code as areaCode,
            log.area_name as areaName,
            log.shipping_money as shippingMoney,
            log.status as status,
            log.is_check as isCheck,
            log.log_at as logAt,
            log.created_time as createdTime,
            log.updated_time as updatedTime
        from mall_shop_shipping_log log
        where log.shop_shipping_no=#{shopShippingNo}
        order by log.id
    </select>

    <insert id="insertBatch" parameterType="com.ycandyz.master.dto.mall.MallShopShippingLogDTO">
        insert into mall_shop_shipping_log
        (
            shop_shipping_no,
            company_code,
            company,
            `number`,
            context,
            shipping_money,
            status,
            is_check,
            log_at
        )
        values
        <foreach collection="list" item="dto" separator=",">
            (
            #{dto.shopShippingNo},
            #{dto.companyCode},
            #{dto.company},
            #{dto.number},
            #{dto.context},
            #{dto.shippingMoney},
            #{dto.status},
            #{dto.isCheck},
            #{dto.logAt}
            )
        </foreach>
    </insert>
</mapper>