<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.mall.MallShopDao">

    <select id="queryByShopNo" parameterType="java.lang.String" resultType="com.ycandyz.master.dto.mall.MallShopDTO">
        select
            shop_no as shopNo,
            shop_name as shopName,
            organize_id as organizeId,
            bg_img as bgImg,
            entry_name as entryName,
            as_hold_days as asHoldDays,
            cs_contact as csContact,
            cs_phone_number as csPhoneNumber,
            cs_weixin_no as csWeixinNo,
            status as status,
            operate_status as operateStatus,
            unix_timestamp(created_time) as createdTime
        from mall_shop
        where shop_no=#{shopNo}
    </select>

    <select id="queryByOrganizeIdList" parameterType="java.lang.Integer" resultType="com.ycandyz.master.dto.mall.MallShopDTO">
        select
            shop_no as shopNo,
            shop_name as shopName,
            organize_id as organizeId,
            bg_img as bgImg,
            entry_name as entryName,
            as_hold_days as asHoldDays,
            cs_contact as csContact,
            cs_phone_number as csPhoneNumber,
            cs_weixin_no as csWeixinNo,
            status as status,
            operate_status as operateStatus,
            unix_timestamp(created_time) as createdTime
        from mall_shop
        where
            organize_id in
        <foreach collection="list" item="organizeId" index="index" open="(" close=")" separator=",">
            #{organizeId}
        </foreach>
    </select>

    <select id="getByOrganizeId" resultType="com.ycandyz.master.entities.mall.MallShop">
        SELECT ms.id,ms.shop_no,ms.shop_name
        FROM organize_group og
        LEFT JOIN organize_rel ol ON ol.group_organize_id = og.id
        LEFT JOIN mall_shop ms ON ol.organize_id = ms.organize_id
        WHERE 1=1
        AND ol.status = 2
        AND og.organize_id = #{organizeId}
        AND ms.id is not null
    </select>

    <select id="getByItemNo" resultType="com.ycandyz.master.entities.mall.MallShop">
        SELECT ms.id,ms.shop_no,ms.shop_name
        FROM mall_item_organize mio
        LEFT JOIN mall_shop ms ON mio.shop_no = ms.shop_no
        WHERE 1=1
        AND mio.organize_item_no = #{itemNo}
        AND mio.is_copy = 0
        AND ms.id is not null
    </select>

</mapper>