<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.mall.MallBuyerShippingLogDao">

    <select id="selectByShipNumberLast" parameterType="java.lang.String" resultType="com.ycandyz.master.dto.mall.MallBuyerShippingLogDTO">
        select
            id as id,
            buyer_shipping_no as buyerShippingNo,
            company_code as companyCode,
            company as company,
            `number` as number,
            context as context,
            status as status,
            is_check as isCheck,
            log_at as logAt,
            created_time as createdTime,
            updated_time as updatedTime
        from mall_shop_shipping_log
        where `number`=#{number}
        order by createdTime desc
        limit 1
    </select>
    <select id="queryListByBuyerShippingNoList" parameterType="java.lang.String" resultType="com.ycandyz.master.dto.mall.MallBuyerShippingLogDTO">
        select
        id as id,
        buyer_shipping_no as buyerShippingNo,
        company_code as companyCode,
        `company` as company,
        `number` as number,
        context as context,
        `status` as status,
        is_check as isCheck,
        log_at as logAt,
        created_time as createdTime,
        updated_time as updatedTime
        from mall_buyer_shipping_log
        where buyer_shipping_no in
        <foreach collection="list" item="buyerShippingNo" index="index" open="(" close=")" separator=",">
            #{buyerShippingNo}
        </foreach>
    </select>
</mapper>