<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.mall.MallAfterSalesDao">

    <resultMap id="BaseAfterSalesDetailResultMap" type="com.ycandyz.master.dto.mall.MallAfterSalesDTO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="after_sales_no" property="afterSalesNo" />
        <result column="order_no" property="orderNo" />
        <result column="order_detail_no" property="orderDetailNo" />
        <result column="created_at" property="createdAt" />
        <result column="reason" property="reason" />
        <result column="remark" property="remark" />
        <result column="photos" property="photos" />
        <result column="skuQuantity" property="skuQuantity" />
        <result column="skuPrice" property="skuPrice" />
        <result column="money" property="money" />
        <result column="send_at" property="sendAt" />
        <result column="receive_at" property="receiveAt" />
        <result column="status" property="status" />
        <result column="sub_status" property="subStatus" />
        <result column="close_at" property="closeAt" />
        <result column="apply_at" property="applyAt" />
        <result column="audit_first_at" property="auditFirstAt" />
        <result column="audit_second_at" property="auditSecondAt" />
        <result column="userName" property="userName" />
        <collection property="order" ofType="com.ycandyz.master.dto.mall.MallOrderByAfterSalesDTO">
            <result column="shop_no" property="shopNo" />
            <result column="moOrderNo" property="orderNo" />
            <result column="moStatus" property="orderStatus" />
            <result column="total_money" property="totalMoney" />
            <result column="real_money" property="realMoney" />
            <result column="deliver_method" property="deliverMethod" />
            <result column="shipping_money" property="shippingMoney" />
        </collection>
        <collection property="details" ofType="com.ycandyz.master.dto.mall.MallOrderDetailByAfterSalesDTO">
            <result column="detailOrderNo" property="orderNo" />
            <result column="orderDetailNo" property="orderDetailNo" />
            <result column="item_no" property="itemNo" />
            <result column="item_name" property="itemName" />
            <result column="item_cover" property="itemCover" />
            <result column="goods_no" property="goodsNo" />
            <result column="sku_no" property="skuNo" />
            <result column="detailQuantity" property="quantity" />
            <result column="detailPrice" property="price" />
        </collection>
    </resultMap>
    <select id="getTrendMallAfterSalesPage" parameterType="com.ycandyz.master.domain.query.mall.MallafterSalesQuery" resultMap="BaseAfterSalesDetailResultMap">
        SELECT
            sales.id as id,
            sales.after_sales_no,
            sales.order_no,
            sales.order_detail_no,
            sales.created_at,
            sales.reason,
            sales.remark,
            sales.photos,
            sales.quantity as skuQuantity,
            sales.price as skuPrice,
            sales.money,
            sales.send_at,
            sales.receive_at,
            sales.status,
            sales.sub_status,
            sales.close_at,
            sales.apply_at,
            sales.audit_first_at,
            sales.audit_second_at,
            concat(u.`name`,' ',u.phone) as userName,

            mo.shop_no,
            mo.order_no as moOrderNo,
            mo.status as moStatus,
            mo.total_money,
            mo.real_money,
            mo.deliver_method,
            mo.all_money-mo.real_money as shipping_money,

            modetail.order_no as detailOrderNo,
            modetail.order_detail_no as orderDetailNo,
            modetail.item_no,
            modetail.item_name,
            modetail.item_cover,
            modetail.goods_no,
            modetail.sku_no,
            modetail.quantity as detailQuantity,
            modetail.price as detailPrice
        FROM
            mall_after_sales sales
            LEFT JOIN mall_order_detail modetail ON sales.order_detail_no=modetail.order_detail_no
            left join mall_order mo on modetail.order_no=mo.order_no
            LEFT JOIN user u ON sales.user_id=u.id
            WHERE
            sales.shop_no=#{p.shopNo}
            <if test="p.refundNo != null and p.refundNo != ''">
                and
                modetail.refund_no=#{p.refundNo}
            </if>
            <if test="p.afterSalesNo != null and p.afterSalesNo != ''">
                and
                sales.after_sales_no = #{p.afterSalesNo}
            </if>
            <if test="p.status != null">
                and
                sales.status=#{p.status}
            </if>
            <if test="p.state != null">
                <if test="p.state==1">
                    and
                    sales.sub_status=1010
                </if>
                <if test="p.state==2">
                    and
                    sales.sub_status=1030
                </if>
                <if test="p.state==3">
                    and
                    (sales.sub_status=1050 or sales.sub_status=2010)
                </if>
                <if test="p.state==4">
                    and
                    (sales.sub_status=1080 or sales.sub_status=2020 or sales.sub_status=2030)
                </if>
                <if test="p.state==6">
                    and
                    (sales.sub_status=1020 or sales.sub_status=1040 or sales.sub_status=1060 or sales.sub_status=2050)
                </if>
                <if test="p.state==5">
                    and
                    sales.sub_status=1090
                </if>
            </if>
            <if test="p.applyAtFrom != null">
                and
                from_unixtime(sales.apply_at, '%Y-%m-%d %H:%i:%S') &gt;= #{p.applyAtFrom}
            </if>
            <if test="p.applyAtTo != null">
                and
                from_unixtime(sales.apply_at, '%Y-%m-%d %H:%i:%S') &lt;= #{p.applyAtTo}
            </if>
            <if test="p.orderNo != null and p.orderNo != ''">
                and
                sales.order_no=#{p.orderNo}
            </if>
            <if test="p.shopItem != null and p.shopItem != ''">
                and
                (modetail.item_name LIKE concat('%',#{p.shopItem},'%') OR modetail.goods_no LIKE concat('%',#{p.shopItem},'%'))
            </if>
            <if test="p.userName != null and p.userName != ''">
                and
                (u.`name` LIKE concat('%',#{p.userName},'%') OR u.phone LIKE concat('%',#{p.userName},'%'))
            </if>
    </select>

    <select id="querySalesDetail" parameterType="java.lang.String" resultMap="BaseAfterSalesDetailResultMap">
        SELECT
            sales.id as id,
            sales.created_at,
            sales.after_sales_no,
            sales.order_no,
            sales.order_detail_no,
            sales.reason,
            sales.remark,
            sales.photos,
            sales.quantity as skuQuantity,
            sales.price as skuPrice,
            sales.money,
            sales.send_at,
            sales.receive_at,
            sales.status,
            sales.sub_status,
            sales.close_at,
            sales.apply_at,
            sales.audit_first_at,
            sales.audit_second_at,

            mo.shop_no,
            mo.order_no as moOrderNo,
            mo.status as moStatus,
            mo.total_money,
            mo.real_money,
            mo.deliver_method,
            mo.all_money-mo.real_money as shipping_money,

            modetail.order_no as detailOrderNo,
            modetail.order_detail_no as orderDetailNo,
            modetail.item_no,
            modetail.item_name,
            modetail.item_cover,
            modetail.goods_no,
            modetail.sku_no,
            modetail.quantity as detailQuantity,
            modetail.price as detailPrice
        FROM
            mall_after_sales sales
            LEFT JOIN mall_order_detail modetail ON sales.order_detail_no=modetail.order_detail_no
            LEFT JOIN user u ON sales.user_id=u.id
            LEFT JOIN mall_order mo ON sales.order_no=mo.order_no
            WHERE
            sales.after_sales_no=#{afterSalesNo}
    </select>

    <select id="getTrendMallAfterSalesList" parameterType="com.ycandyz.master.domain.query.mall.MallafterSalesQuery" resultType="com.ycandyz.master.dto.mall.MallAfterSalesDTO">
        SELECT
        sales.after_sales_no as afterSalesNo,
        sales.order_no as orderNo,
        sales.order_detail_no as orderDetailNo,
        modetail.item_name as itemName,
        modetail.goods_no as goodsNo,
        sales.status as status,
        sales.sub_status as subStatus,
        sales.quantity as skuQuantity,
        sales.money as money,
        modetail.real_money as realMoney,
        mo.pay_type as payType,
        modetail.quantity as detailQuantity,
        concat(u.`name`,' ',u.phone) as userName,
        sales.apply_at as applyAt
        FROM
        mall_after_sales sales
        LEFT JOIN mall_order_detail modetail ON sales.order_detail_no=modetail.order_detail_no
        LEFT JOIN user u ON sales.user_id=u.id
        WHERE
        sales.shop_no=#{p.shopNo}
        <if test="p.refundNo != null and p.refundNo != ''">
            and
            modetail.refund_no=#{p.refundNo}
        </if>
        <if test="p.afterSalesNo != null and p.afterSalesNo != ''">
            and
            sales.after_sales_no = #{p.afterSalesNo}
        </if>
        <if test="p.status != null">
            and
            sales.status=#{p.status}
        </if>
        <if test="p.subStatus != null">
            and
            sales.sub_status=#{p.subStatus}
        </if>
        <if test="p.applyAtFrom != null">
            and
            from_unixtime(sales.apply_at, '%Y-%m-%d %H:%i:%S') &gt;= #{p.applyAtFrom}
        </if>
        <if test="p.applyAtTo != null">
            and
            from_unixtime(sales.apply_at, '%Y-%m-%d %H:%i:%S') &lt;= #{p.applyAtTo}
        </if>
        <if test="p.orderNo != null and p.orderNo != ''">
            and
            sales.order_no=#{p.orderNo}
        </if>
        <if test="p.shopItem != null and p.shopItem != ''">
            and
            (modetail.item_name LIKE concat('%',#{p.shopItem},'%') OR modetail.goods_no LIKE concat('%',#{p.shopItem},'%'))
        </if>
        <if test="p.userName != null and p.userName != ''">
            and
            (u.`name` LIKE concat('%',#{p.userName},'%') OR u.phone LIKE concat('%',#{p.userName},'%'))
        </if>
    </select>

    <select id="querySalesByOrderDetailNoList" parameterType="java.lang.String" resultType="com.ycandyz.master.dto.mall.MallAfterSalesDTO">
        SELECT
            sales.after_sales_no as afterSalesNo,
            sales.order_no as orderNo,
            sales.order_detail_no as orderDetailNo,
            sales.status as status,
            sales.sub_status as subStatus,
            sales.quantity as skuQuantity,
            sales.money as money,
            sales.apply_at as applyAt,
            sales.audit_first_at as auditFirstAt,
            sales.send_at as sendAt,
            sales.audit_second_at as auditSecondAt,
            sales.photos as photos,
            sales.price as skuPrice,
            sales.remark as remark,
            sales.created_at as createdAt,
            sales.close_at as closeAt,
            sales.reason as reason
        FROM
            mall_after_sales sales
        where
            1=1
            <if test="list!=null">
                and
                sales.order_detail_no in
                <foreach collection="list" item="orderDetailNo" index="index" open="(" close=")" separator=",">
                    #{orderDetailNo}
                </foreach>
            </if>
    </select>
</mapper>