<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.coupon.CouponActivityTicketDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycandyz.master.entities.coupon.CouponActivityTicket">
        <id column="id" property="id" />
        <result column="activity_no" property="activityNo" />
        <result column="ticket_no" property="ticketNo" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, activity_no, ticket_no, created_at, updated_at
    </sql>

    <select id="list" resultType="com.ycandyz.master.domain.response.coupon.CouponActivityTicketResp">
        SELECT ct.id,t.`name`,t.ticket_sum - t.use_num remain_num,ti.begin_at,ti.end_at
        FROM
            coupon_activity_ticket ct
            LEFT JOIN coupon_ticket t ON ct.ticket_no = t.ticket_no
            LEFT JOIN coupon_ticket_info ti ON t.last_ticket_info_no = ti.ticket_info_no
        WHERE
            ct.activity_no = #{activityNo}
    </select>

</mapper>
