<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.coupon.CouponDetailItemDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycandyz.master.dto.coupon.CouponDetailItemDTO">
        <id column="id" property="id" />
        <result column="item_no" property="itemNo" />
        <result column="coupon_detail_id" property="couponDetailId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, item_no, coupon_detail_id, create_time,update_time
    </sql>

    <select id="queryByCouponDetailId" resultType="com.ycandyz.master.domain.response.mall.MallItemBaseResp">
        SELECT
            t.id,
            o.item_no,
            t.item_name,
            t.status,t.item_cover,
            t.price ,
            t.lowest_sale_price,
            t.base_sales,
            t.real_sales,
            t.item_text,
            t.stock,
            o.category_no,
            t.goods_no
        FROM coupon_detail_item cditem
        left join mall_item_organize o on cditem.item_no=o.item_no
        left join mall_item t on o.organize_item_no=t.item_no
        WHERE 1=1
        AND t.status = 10
        and cditem.coupon_detail_id=#{couponDetailId}
    </select>
</mapper>
