<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.coupon.CouponActivityTicketDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycandyz.master.entities.coupon.CouponActivityTicket">
        <id column="id" property="id" />
        <result column="activity_no" property="activityNo" />
        <result column="ticket_no" property="ticketNo" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, activity_no, ticket_no, created_at, updated_at
    </sql>

    <select id="list" resultType="com.ycandyz.master.domain.response.coupon.CouponActivityTicketResp">
        SELECT ct.id,t.`name`,t.ticket_sum - t.use_num remain_num,ti.begin_time,ti.end_time
        FROM
            coupon_activity_ticket ct
            LEFT JOIN coupon_ticket t ON ct.ticket_no = t.ticket_no
            LEFT JOIN coupon_ticket_info ti ON t.last_ticket_info_no = ti.ticket_info_no
        WHERE
            ct.activity_no = #{activityNo}
    </select>

    <select id="selectTicketPage" resultType="com.ycandyz.master.domain.response.coupon.CouponActivityTicketResp">
        SELECT t.id,t.ticket_no,t.`name`,t.ticket_sum - t.use_num remain_num,ti.begin_time,ti.end_time,ct.id activity_ticket_id
        FROM
        coupon_activity_ticket ct
        LEFT JOIN coupon_ticket t ON ct.ticket_no = t.ticket_no
        LEFT JOIN coupon_ticket_info ti ON t.last_ticket_info_no = ti.ticket_info_no
        WHERE 1=1
        AND ct.activity_no = #{q.activityNo}
        <if test="q.name!=null and q.name!=''">
            and ti.name like concat('%',#{q.name},'%')
        </if>
    </select>

    <select id="selectActivityTicketPage" resultType="com.ycandyz.master.domain.response.coupon.CouponActivityTicketResp">
        SELECT t.id,t.ticket_no,t.`name`,t.ticket_sum - t.use_num remain_num,ti.begin_time,ti.end_time,case when ct.id is null then 'false' else 'true' end selected
        FROM
        coupon_ticket t
        LEFT JOIN coupon_ticket_info ti ON t.last_ticket_info_no = ti.ticket_info_no
        LEFT JOIN coupon_activity_ticket ct ON ct.ticket_no = t.ticket_no
        AND ct.activity_no = #{q.activityNo}
        WHERE 1=1
        AND t.shop_no = #{q.shopNo}
        <if test="q.name!=null and q.name!=''">
            and ti.name like concat('%',#{q.name},'%')
        </if>
    </select>

    <select id="selectUserActivityTicketPage" resultType="com.ycandyz.master.domain.response.coupon.CouponUserTicketResp">
        SELECT
        uti.id,uti.status,uti.create_time,ti.use_type,ti.full_money,ti.discount_money,u.`name`,u.phone
        FROM
        coupon_user_ticket_info uti
        LEFT JOIN coupon_ticket_info ti ON uti.ticket_info_no = ti.ticket_info_no
        LEFT JOIN user u ON u.id = uti.user_id
        WHERE 1=1
        <if test="q.createTimeS != null">
            <![CDATA[
	            AND uti.create_time > #{q.createTimeS}
	        ]]>
        </if>
        <if test="q.createTimeE != null">
            <![CDATA[
	            AND date(uti.create_time) <= date(#{q.createTimeE})
	        ]]>
        </if>
        <if test="q.statusType != null and q.statusType == 2"> AND uti.status = 1 </if>
        <if test="q.statusType != null and q.statusType == 1">
            <![CDATA[
            	AND ti.end_time < NOW()
            ]]>
        </if>
        <if test="q.statusType != null and q.statusType == 0">
            <![CDATA[
            	AND ti.end_time > NOW()
            ]]>
        </if>
        <if test="q.username != null and q.username != ''"> AND (u.name like CONCAT('%',#{q.username},'%') or u.phone = #{q.username}) </if>
        <if test="q.phone != null and q.phone != ''"> AND u.phone = #{q.phone} </if>
    </select>


</mapper>
