<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.coupon.CouponActivityTicketDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycandyz.master.entities.coupon.CouponActivityTicket">
        <id column="id" property="id" />
        <result column="activity_no" property="activityNo" />
        <result column="ticket_no" property="ticketNo" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, activity_no, ticket_no, created_at, updated_at
    </sql>

    <select id="list" resultType="com.ycandyz.master.domain.response.coupon.CouponActivityTicketResp">
        SELECT ct.id,t.`name`,t.ticket_sum - t.use_num remain_num,ti.begin_at,ti.end_at
        FROM
            coupon_activity_ticket ct
            LEFT JOIN coupon_ticket t ON ct.ticket_no = t.ticket_no
            LEFT JOIN coupon_ticket_info ti ON t.last_ticket_info_no = ti.ticket_info_no
        WHERE
            ct.activity_no = #{activityNo}
    </select>

    <select id="selectTicketPage" resultType="com.ycandyz.master.domain.response.coupon.CouponActivityTicketResp">
        SELECT t.id,t.ticket_no,t.`name`,t.ticket_sum - t.use_num remain_num,ti.begin_at,ti.end_at,ct.id activity_ticket_id
        FROM
        coupon_activity_ticket ct
        LEFT JOIN coupon_ticket t ON ct.ticket_no = t.ticket_no
        LEFT JOIN coupon_ticket_info ti ON t.last_ticket_info_no = ti.ticket_info_no
        WHERE 1=1
        AND ct.activity_no = #{q.activityNo}
        <if test="q.name!=null and q.name!=''">
            and ti.name like concat('%',#{q.name},'%')
        </if>
    </select>

    <select id="selectActivityTicketPage" resultType="com.ycandyz.master.domain.response.coupon.CouponActivityTicketResp">
        SELECT t.id,t.ticket_no,t.`name`,t.ticket_sum - t.use_num remain_num,ti.begin_at,ti.end_at,case when ct.id is null then 'false' else 'true' end selected
        FROM
        coupon_ticket t
        LEFT JOIN coupon_ticket_info ti ON t.last_ticket_info_no = ti.ticket_info_no
        LEFT JOIN coupon_activity_ticket ct ON ct.ticket_no = t.ticket_no
        AND ct.activity_no = #{q.activityNo}
        WHERE 1=1
        AND t.shop_no = #{q.shopNo}
        <if test="q.name!=null and q.name!=''">
            and ti.name like concat('%',#{q.name},'%')
        </if>
    </select>


</mapper>
