<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.coupon.CouponDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycandyz.master.dto.coupon.CouponDetailDTO">
        <id column="id" property="id" />
        <result column="shop_no" property="shopNo" />
        <result column="ticket_no" property="ticketNo" />
        <result column="name" property="name" />
        <result column="ticket_sum" property="ticketSum" />
        <result column="obtain_num" property="obtainNum" />
        <result column="use_num" property="useNum" />
        <result column="state" property="state" />
        <result column="last_ticket_info_no" property="lastTicketInfoNo" />
        <result column="create_time" property="createTime" />
        <result column="coupon_detail_no" property="couponDetailNo" />
        <result column="shop_type" property="shopType" />
        <result column="use_type" property="useType" />
        <result column="full_money" property="fullMoney" />
        <result column="discount_money" property="discountMoney" />
        <result column="status" property="status" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="days" property="days" />
        <result column="user_type" property="userType" />
        <result column="take_num" property="takeNum" />
        <result column="superposition" property="superposition" />
        <result column="obtain" property="obtain" />
        <result column="remark" property="remark" />
        <result column="surplus_num" property="surplusNum" />
        <result column="ticketCreatedAt" property="ticketCreatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_no, ticket_no, name, ticket_sum, obtain_num, use_num, state, last_ticket_info_no, created_time, update_time
    </sql>

    <select id="queryTicketPageList" parameterType="com.ycandyz.master.domain.query.coupon.CouponQuery" resultMap="BaseResultMap">
        SELECT
            ti.id as ticketId,
            ti.ticket_no,
            info.coupon_detail_no,
            ti.name,
            info.status as status,
            info.begin_time as begin_time,
            info.end_time as end_time,
            info.days as days,
            ti.state,
            info.use_type,
            info.full_money,
            info.discount_money,
            ti.obtain_num,
            ti.ticket_sum-ti.obtain_num as surplus_num,
            ti.use_num,
            ti.created_time as ticketCreatedAt
        FROM
            coupon ti
            LEFT JOIN coupon_detail info ON ti.last_ticket_info_no = info.coupon_detail_no
        where
            ti.shop_no=#{p.shopNo}
            <if test="p.name!=null and p.name!=''">
                and
                ti.name like concat('%',#{p.name},'%')
            </if>
            <if test="p.state!=null">
                and
                ti.state = #{p.state}
            </if>
            <if test="p.createdBeginAt!=null">
                and
                ti.begin_time &gt;= #{p.createdBeginAt}
            </if>
            <if test="p.createdEndAt!=null">
                and
                ti.end_time &lt;= #{p.createdEndAt}
            </if>
    </select>

    <select id="queryTicketDetailByTicketNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        ti.id as ticketId,
            ti.ticket_no,
            ti.ticket_sum,
            ti.name,
            ti.state,
            ti.obtain_num,
            ti.ticket_sum-ti.obtain_num as surplus_num,
            ti.use_num,
            ti.created_at as ticketCreatedAt,
            ti.remark,

            info.coupon_detail_no,
            info.shop_type,
            info.status as status,
            info.begin_at as begin_at,
            info.end_at as end_at,
            info.days as days,
            info.use_type,
            info.full_money,
            info.discount_money,
            info.take_num,
            info.superposition,
            info.obtain
        FROM
            coupon ti
            LEFT JOIN coupon_detail info ON ti.last_ticket_info_no = info.coupon_detail_no
        where
            ti.shop_no=#{p.shopNo}
            and
            ti.ticket_no=#{ticketNo}
    </select>
</mapper>
