<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.coupon.CouponActivityDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycandyz.master.entities.coupon.CouponActivity">
        <id column="id" property="id" />
        <result column="shop_no" property="shopNo" />
        <result column="title" property="title" />
        <result column="max_limit" property="maxLimit" />
        <result column="status" property="status" />
        <result column="user_type" property="userType" />
        <result column="activity_num" property="activityNum" />
        <result column="create_at" property="createTime" />
        <result column="update_at" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, activity_no, shop_no, name, begin_time, end_time, height_limit, status, join_type, activity_num, create_time, update_time, create_by, update_by
    </sql>

    <update id="updateStatusById">
        update coupon_activity set enabled = #{enabled} where id = #{id}
    </update>

    <select id="list" resultType="com.ycandyz.master.domain.response.coupon.CouponActivityCouponResp">
        SELECT ct.id,t.`name`,t.coupon_sum - t.use_num remain_num,ti.begin_time,ti.end_time
        FROM
            coupon_activity_coupon ct
            LEFT JOIN coupon t ON ct.coupon_id = t.id
            LEFT JOIN coupon_detail ti ON ti.coupon_id = t.id
            AND ti.status = 1
        WHERE
            ct.activity_id = #{activityId}
    </select>

    <select id="selectCouponPage" resultType="com.ycandyz.master.domain.response.coupon.CouponActivityCouponResp">
        SELECT t.id,t.`name`,t.coupon_sum - t.use_num remain_num,ti.begin_time,ti.end_time,case when ct.id is null then 'false' else 'true' end selected
        FROM
        coupon t
        LEFT JOIN coupon_detail ti ON ti.coupon_id = t.id
        AND ti.status = 1
        LEFT JOIN coupon_activity_coupon ct ON ct.coupon_id = t.id
        AND ct.activity_id = #{q.id}
        WHERE 1=1
        AND t.shop_no = #{q.shopNo}
        <if test="q.name!=null and q.name!=''">
            and ti.name like concat('%',#{q.name},'%')
        </if>
    </select>

    <select id="selectActivityCouponPage" resultType="com.ycandyz.master.domain.response.coupon.CouponActivityCouponResp">
        SELECT t.id,t.`name`,t.coupon_sum - t.use_num remain_num,ti.begin_time,ti.end_time,ct.id activity_coupon_id
        FROM
        coupon_activity_coupon ct
        LEFT JOIN coupon t ON ct.coupon_id = t.id
        LEFT JOIN coupon_detail ti ON ti.coupon_id = t.id
        AND ti.status = 1
        WHERE 1=1
        AND ct.activity_id = #{q.id}
        <if test="q.name!=null and q.name!=''">
            and ti.name like concat('%',#{q.name},'%')
        </if>
    </select>

    <select id="selectUserActivityCouponPage" resultType="com.ycandyz.master.domain.response.coupon.CouponDetailUserResp">
        SELECT
        uti.id,uti.status,uti.create_time,uti.end_time,ti.use_type,ti.full_money,ti.discount_money,u.`name`,u.phone
        FROM
        coupon_detail_user uti
        LEFT JOIN coupon_detail ti ON uti.coupon_detail_id = ti.id
        LEFT JOIN coupon t ON ti.coupon_id = t.id
        LEFT JOIN user u ON u.id = uti.user_id
        WHERE 1=1
        AND uti.activity_id = #{q.id}
        <if test="q.createTimeBegin != null">
            <![CDATA[
	            AND uti.create_time > #{q.createTimeBegin}
	        ]]>
        </if>
        <if test="q.createTimeEnd != null">
            <![CDATA[
	            AND date(uti.create_time) <= date(#{q.createTimeEnd})
	        ]]>
        </if>
        <if test="q.status != null and q.status == 2"> AND uti.status = 1 </if>
        <if test="q.status != null and q.status == 1">
            AND uti.status = 0
            <![CDATA[
            	AND uti.end_time < NOW()
            ]]>
        </if>
        <if test="q.status != null and q.status == 0">
            AND uti.status = 0
            <![CDATA[
            	AND uti.end_time > NOW()
            ]]>
        </if>
        <if test="q.username != null and q.username != ''"> AND (u.name like CONCAT('%',#{q.username},'%') or u.phone = #{q.username}) </if>
        <if test="q.phone != null and q.phone != ''"> AND u.phone = #{q.phone} </if>
    </select>


</mapper>
