<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycandyz.master.dao.coupon.CouponDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycandyz.master.dto.coupon.CouponDetailDTO">
        <id column="id" property="id" />
        <result column="coupon_detail_no" property="couponDetailNo" />
        <result column="coupon_id" property="couponId" />
        <result column="name" property="name" />
        <result column="shop_type" property="shopType" />
        <result column="use_type" property="useType" />
        <result column="full_money" property="fullMoney" />
        <result column="discount_money" property="discountMoney" />
        <result column="status" property="status" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="days" property="days" />
        <result column="user_type" property="userType" />
        <result column="take_num" property="takeNum" />
        <result column="superposition" property="superposition" />
        <result column="obtain" property="obtain" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_detail_no, coupon_id, name, shop_type, use_type, full_money, discount_money, status, begin_time, end_time, days, user_type, take_num, superposition, obtain, remark, create_time, update_time
    </sql>

</mapper>
